body {
  background-color: whitesmoke !important;
}

.form-holder {
  margin-top: 20%;
  margin-bottom: 20%;
}

.navbar {
  background-color: #f5faff;
  /* Customize the background color */
  padding: 10px;
  /* Adjust the padding as desired */
}

.navbar-brand {
  font-weight: bold;
  /* Customize the font weight */
  color: #333;
  /* Customize the text color */
}

.navbar-nav .nav-link {
  color: #333;
  /* Customize the text color of the links */
}

.navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
  /* Customize the font weight of the active link */



}

.corner-button {
  position: absolute;

  right: 10px;
}

.custom-button {
  background-color: whitesmoke;
  /* Set the background color */
  color: #fff;
  /* Set the text color */
  border: none;
  /* Remove the border */
  padding: 5px 5px;
  /* Add padding to the button */


}
/* .row{
  display: none;
} */
.btn-close {
  background-color: transparent;
  border: 0;
  font-size: 10px;
  position: absolute;
  right: 31px;
  top: 700px;


}

.open {
  display: block !important;
}




/* Style for the confirmation modal */
.confirmation-modal {
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style for the buttons in the modal */
.confirmation-modal button {
  margin-top: 10px;
}

/* Style for the cancel button */
.confirmation-modal .cancel-btn {
  background-color: #ddd;
  color: #333;
}

/* Style for the delete button */
.confirmation-modal .delete-btn {
  background-color: #e74c3c;
  color: #fff;
}

.btn-close {
  background-color: transparent;
  border: 0;
  font-size: 10px;
  position: absolute;
  right: 31px;
  top: 700px;


}

.open {
  display: block !important;
}